<nav class="navbar">
    <div class="logo">Busy Beats</div>
    <div class="copy-export-btn">
        <button matTooltip="Copy All Date Tasks" class="button copy-all" matPreffix (click)="taskService.copyAllDateallTasks()">Copy <mat-icon>file_copy</mat-icon></button>
        <button matTooltip="Export All Date Tasks" class="button copy-all" matPreffix (click)="taskService.exportAllToTextFile()">Export to text</button>
        <button matTooltip="Export All Date Tasks" class="s-button copy-all" matPreffix (click)="taskService.deleteAllDateTasks()">Delete all</button>
    </div>
</nav>