
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    font-size: 14px;
}
:root {
    --primary-color: #EEF5FF;
    --text-color: #000;
    --primary-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --secondary-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --secondary-color: #83A2FF;
    --secondary-text-color: #fff;
    --error-color: #FC4100;
    --warning-color: #FFC100;
    --success-color: #8DECB4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px 10px;
    box-shadow: var(--primary-shadow)
}

.logo {
    text-shadow: 3px 3px 6px rgba(160, 133, 222, 1);
    font-size: 24px;
    color: var(--text-color);
    font-family: cursive;
}

.button {
    all: unset;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: var(--secondary-shadow);
    font-size: 16px;
    border: 1px solid var(--secondary-color);
}
.s-button {
    all: unset;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-color);
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: var(--secondary-shadow);
    font-size: 16px;
}

.show-task-box {
    width: 90%;
    border: 4px solid var(--primary-color);
    margin: auto;
    margin-top: 20px;
    box-shadow: var(--primary-shadow);
    
}
.heading {
        color: var(--text-color);
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid var(--primary-color);
        
    }
.current-date-head {
            cursor: pointer;
            font-size: 18px;
            color: var(--text-color);

        }

.task-box {
    min-height: 200px;
    max-height: 70vh;
    overflow: auto;
}
.no-records {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    margin-top: 10px;
}


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-task-box {
    width: 50%;
    height: 40%;
    background-color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: var(--secondary-shadow);

}
.new-task-head-text {
    color: var(--secondary-color);
    font-size: 18px;
}
.full-width {
    width: 100%;
}

.create-task-btn {
    float: right;
}
.edit-task-btn {
    float: right;
    margin-right: 10px;
}

.task-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: var(--secondary-shadow);
    margin: 10px 6px;
    padding: 6px;

    
}
.link-action-box {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        font-size: 16px;

    }
.summary {
        border: 1px solid var(--primary-color);
        width: 60%;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 5px;
    }
.status {
    color: var(--secondary-color);
}


.action-box {
                width: 40%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
}
.forward-btn {
    color: var(--warning-color);
}

.link-status {
                width: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

}
.cal-input {
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    /* visibility: hidden; */
}
.copy-add-btn-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.copy-btn {
    color: var(--success-color);
}
.edit-btn {
    color: var(--warning-color);
}
.delete-btn {
    color: var(--error-color);
}

.link {
    color: #0052cc;
}

.copy-all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* font-size: 20px; */
}
.copy-export-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.notes-btn {
    color: var(--warning-color);
    margin-left: 20px;
}

.notes-container {
    width: 50%;
    height: 40%;
    background-color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: var(--secondary-shadow);
}
.note-box {
    /* height: 100%; */
}
.footer {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-from-to-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

mat-icon.mat-icon {
   height: 20px;
   width: 20px;
}
mat-icon.material-icons {
    font-size: 20px;
}

/* width */
.scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: var(--secondary-color); 
  border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--success-color); 
}